.spinner {
  margin: auto;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.spinner span {
  
  font-size: 3rem;
  animation: fade 2s linear 0s infinite;
  padding-right: 1rem;
}

.half-spinner {
  width: 80px;
  height: 80px;
  border: 5px solid #1d83f0;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 0.5s linear 0s infinite;
}


@keyframes bigger {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(2);
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ------------------------------ */
@keyframes ldio-06hc22lmyl6i {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-06hc22lmyl6i div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-06hc22lmyl6i linear 1s infinite;
  background: #5fd7ff;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}.ldio-06hc22lmyl6i div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #5fd7ff;
}.ldio-06hc22lmyl6i div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #5fd7ff;
}.ldio-06hc22lmyl6i div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #5fd7ff;
}.ldio-06hc22lmyl6i div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #5fd7ff;
}.ldio-06hc22lmyl6i div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #5fd7ff;
}.ldio-06hc22lmyl6i div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #5fd7ff;
}.ldio-06hc22lmyl6i div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #5fd7ff;
}.ldio-06hc22lmyl6i div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #5fd7ff;
}.ldio-06hc22lmyl6i div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #5fd7ff;
}.ldio-06hc22lmyl6i div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #5fd7ff;
}.ldio-06hc22lmyl6i div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #5fd7ff;
}.ldio-06hc22lmyl6i div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #5fd7ff;
}
.loadingio-spinner-spinner-o4gu5azrtn {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-06hc22lmyl6i {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-06hc22lmyl6i div { box-sizing: content-box; }
/* generated by https://loading.io/ */